.time-left-cell {
  border-radius: 0.25rem;
}

.tl-past {
  background-color: rgba(220, 53, 69, 0.20);
}

.tl-0-8 {
  background-color: rgba(253, 126, 20, 0.20);
}

.tl-8-24 {
  background-color: rgba(255, 193, 7, 0.20);
}

.tl-24p {
  background-color: rgba(25, 135, 84, 0.20);
}

/* Make link-style buttons look consistent */
.btn-link.btn-sm {
  text-decoration: none;
}

.btn-link.btn-sm:hover {
  text-decoration: underline;
}
